.adaptiveform-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.adaptiveform-container * {
    box-sizing: border-box;
}

.section.adaptiveform-container :where(h1, h2, h3, h4, h5, h6, p) {
    /* unset margin and padding added by helix by default */
    margin: unset;
    padding: unset;
   
}

.block.adaptiveform {
    color: #666;
    font-size: 1rem;
}

.block.adaptiveform .vertical {
    display: flex;
    flex-direction: column !important;
}

.block.adaptiveform .horizontal {
    display: flex;
    flex-direction: row !important;
}

.block.adaptiveform .wrapped {
    flex-wrap: wrap !important;
}

.block.adaptiveform.grid .cmp-adaptiveform-container, 
.block.adaptiveform .grid {
    display: grid;
}

[data-cmp-visible="false"],
.cmp-adaptiveform-hidden {
    display: none !important;
}

.personal-calculator-heading :where(h1, h2, h3, h4, h5, h6, p) {
    /* unset margin and padding added by helix by default */
    margin: unset;
    padding: unset;
   
}

:root {
    --adaptiveform-tooltip-color: #fff;
    --adaptiveform-tooltip-backgroundColor: #17252e;
    --adaptiveform-tooltip-borderWidth: 7px;
}

/* personal-calculator variables */
.personal-calculator-heading,
.repayments-calculator-section {
    --text-color:#17252e;
    --text-color-bold: #000;
    --text-color-green: #5fa317;
    --link-color: #008533;
    --tooltip-icon: url('/icons/tooltip.svg');
    --up-arrow-icon: url('/icons/up-arrow.svg');
    --down-arrow-icon: url('/icons/down-arrow.svg');
    --diagonal-arrow-icon: url('/icons/diagonal-arrow.svg');
    --fontFamily-nedbank-medium: "Nedbank Sans Medium";
    --fontFamily-nedbank-bold: "Nedbank Sans Bold";
    --fontFamily-open-regular: "Open Sans Regular";
    --fontFamily-open-semibold: "Open Sans Semibold";


    --adaptiveform-outlined-borderColor: #d5e4e1;
    --adaptiveform-label-color: var(--text-color);
    --adaptiveform-label-fontFamily: var(--fontFamily-nedbank-medium);
    --adaptiveform-widget-color: var(--text-color); /* widget text color */
    --adaptiveform-widget-color-bold: var(--text-color-bold); /* widget text color */
    --adaptiveform-widget-color-green: var(--text-color-green); /* widget text color */
    --adaptiveform-widget-border: 2px solid #78be20;
    --adaptiveform-widget-fontFamily: var(--fontFamily-open-semibold);
    --adaptiveform-widget-fontFamily-bold: var(--fontFamily-nedbank-bold);
    --adaptiveform-widget-focus-borderColor: #006341;
    --adaptiveform-longdescription-color: #565c5d;
    --adaptiveform-longdescription-fontFamily: var(--fontFamily-open-regular);
    --adaptiveform-errormessage-color: #eb3c36;
    --adaptiveform-questionmark-background: var(--tooltip-icon);

    --radiobutton-option-label-color: #494f50;
    --radiobutton-option-label-fontFamily: var(--fontFamily-open-regular);
    --radiobutton-option-widget-border: 2px solid #78be20;
    --radiobutton-option-widget-color: #78be20;

    --panel-label-color: #494f50;
    --panel-label-fontFamily: var(--fontFamily-open-regular);

    --range-widget-thumb-borderColor: #78be20;
    --range-widget-thumb-backgroundColor: #fff;
    --range-minmax-color: #565c5d; 
    --range-minmax-fontFamily: var(--fontFamily-open-regular);

    --button-widget-color: #fff;
    --button-widget-color-link: var(--link-color);
    --button-widget-backgroundColor: #008533;
    --button-widget-backgroundColor-black: #17252e;

    --personal-calculator-heading-h2-fontFamily: var(--fontFamily-nedbank-bold);
    --personal-calculator-heading-h2-color: var(--text-color);
    --personal-calculator-heading-h3-fontFamily: var(--fontFamily-nedbank-medium);
    --personal-calculator-heading-h3-color: var(--text-color);
    --personal-calculator-heading-selected-borderColor: #008533;
    --personal-calculator-info-backgroundColor: #f9fbfb;
    --personal-calculator-exploreRate-color: #008533;
    --personal-calculator-exploreRate-unchecked-icon: var(--up-arrow-icon);
    --personal-calculator-exploreRate-checked-icon: var(--down-arrow-icon);
    --personal-calculator-rate-longdescription-fontFamily: var(--fontFamily-open-regular);
    --personal-calculator-rate-longdescription-color: #333;
    --personal-calculator-seeLoanDetails-icon: var(--diagonal-arrow-icon);
}

/* component textinput */
.cmp-adaptiveform-textinput {
    display: flex;
    flex-direction: column;
}

.cmp-adaptiveform-textinput__label {
    line-height: 24px;
    font-family: var(--adaptiveform-label-fontFamily);
    color: var(--adaptiveform-label-color);
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 16px;
}

.cmp-adaptiveform-textinput__widget {
    border-radius: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--adaptiveform-widget-fontFamily);
    color: var(--adaptiveform-widget-color);
    border: var(--adaptiveform-widget-border);
    background-color: transparent;
    height: 56px;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    display: block;
    width: 100%;
    max-width: 600px;
}

.cmp-adaptiveform-textinput__widget:focus,
.cmp-adaptiveform-textinput__widget:active {
    outline: none !important;
    border:2px solid var(--adaptiveform-widget-focus-borderColor);
    box-shadow:none;
}

.cmp-adaptiveform-textinput__longdescription {
    font-family: var(--adaptiveform-longdescription-fontFamily);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 8px;
    color: var(--adaptiveform-longdescription-color) !important;
}

.cmp-adaptiveform-textinput__shortdescription {
    margin-top: 10px;
    font-size: .875rem
}

.cmp-adaptiveform-textinput__errormessage {
    color: var(--adaptiveform-errormessage-color);
    margin-top: 10px;
    font-size: .875rem
}

/* component numberinput */
.cmp-adaptiveform-numberinput {
    display: flex;
    flex-direction: column;
}

.cmp-adaptiveform-numberinput__label {
    line-height: 24px;
    font-family: var(--adaptiveform-label-fontFamily);
    color: var(--adaptiveform-label-color);
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 16px;
}

.cmp-adaptiveform-numberinput__widget {
    border-radius: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--adaptiveform-widget-fontFamily);
    color: var(--adaptiveform-widget-color);
    border: var(--adaptiveform-widget-border);
    background-color: transparent;
    height: 56px;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    display: block;
    width: 100%;
    max-width: 600px;
}

.cmp-adaptiveform-numberinput__widget:focus,
.cmp-adaptiveform-numberinput__widget:active {
    outline: none !important;
    border:2px solid var(--adaptiveform-widget-focus-borderColor);
    box-shadow:none;
}

.cmp-adaptiveform-numberinput__widget::-webkit-inner-spin-button, 
.cmp-adaptiveform-numberinput__widget::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.cmp-adaptiveform-numberinput__longdescription {
    font-family: var(--adaptiveform-longdescription-fontFamily);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 8px;
    color: var(--adaptiveform-longdescription-color) !important;
}

.cmp-adaptiveform-numberinput__shortdescription {
    margin-top: 10px;
    font-size: .875rem
}

.cmp-adaptiveform-numberinput__errormessage {
    color: var(--adaptiveform-errormessage-color);
    margin-top: 10px;
    font-size: .875rem
}

/* component radiobutton */
.cmp-adaptiveform-radiobutton {
    display: flex;
    flex-direction: column;
}

.cmp-adaptiveform-radiobutton__label {
    line-height: 24px;
    font-family: var(--adaptiveform-label-fontFamily);
    color: var(--adaptiveform-label-color);
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 16px;
}

.cmp-adaptiveform-radiobutton__option {
    margin-bottom: 16px;
}

.cmp-adaptiveform-radiobutton__option__label {
    font-size: 16px;
    font-family: var(--radiobutton-option-label-fontFamily);
    line-height: 26px;
    color: var(--radiobutton-option-label-color);
    display: flex;
    flex-direction: row;
}

.cmp-adaptiveform-radiobutton__option__widget,
input.cmp-adaptiveform-radiobutton__option__widget {
    border: var(--radiobutton-option-widget-border);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin: unset;
    transform: unset;
    appearance: none;
    flex-shrink: 0;
}

.cmp-adaptiveform-radiobutton__option__widget::after {
    content: "";
    border-radius: 50%;
    display: block;
    position: relative;
}

.cmp-adaptiveform-radiobutton__option__widget:checked::after {
    background-color: var(--radiobutton-option-widget-color);
    left: 3px;
    top: 3px;
    width: 14px;
    height: 14px;
}

.cmp-adaptiveform-radiobutton__option__label > span {
    padding: 0 0 0 20px;
}

/* component panel */
.cmp-adaptiveform-panel {
    display: flex;
    flex-direction: column;
}

.cmp-adaptiveform-panel__label {
    flex-basis: 100% !important;
    padding-bottom: 24px;
    font-size: 16px;
    font-family: var(--panel-label-fontFamily);
    line-height: 24px;
    color: var(--panel-label-color);
    max-width: 100%;
    margin: 0;
}

.cmp-adaptiveform-panel__label[tabindex="-1"] {
    display: none;
}

/* component text */
.cmp-adaptiveform-text__widget {
    font-family: "Nedbank Sans Bold";
}

/* range component */
.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-wrapper {
    padding: 10px 0;
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-value {
    position: relative;
    padding: 4px 12px 4px 0;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 28px;
    font-family: var(--adaptiveform-label-fontFamily);
    color: var(--adaptiveform-label-color);
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget {
    appearance: none;
    height: 5px;
    border-radius: 5px;
    border: none;
    outline: 0;
    padding: 0;
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--range-widget-thumb-backgroundColor);
    border: 3px solid var(--range-widget-thumb-borderColor);
    cursor: pointer;
    outline: 3px solid var(--range-widget-thumb-backgroundColor);
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-min {
    top: 10px;
    position: relative;
    color: var(--range-minmax-color);
    font-size: 14px;
    line-height: 22px;
    font-family: var(--range-minmax-fontFamily);
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-max {
    top: 10px;
    position: relative;
    color: var(--range-minmax-color);
    font-size: 14px;
    line-height: 22px;
    font-family: var(--range-minmax-fontFamily);
    float: right;
}

/* button */
.cmp-adaptiveform-button  {
    font-family: var(--adaptiveform-widget-fontFamily);
    white-space: unset;
    padding: 0px;
    border-radius: 6px;
    text-align: center;
    margin: 0px;
    height: 56px;
    color: var(--button-widget-color);
    overflow-wrap: break-word;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    background-color: var(--button-widget-backgroundColor);
}

.cmp-adaptiveform-button > span {
    display: inline;
}

/* questionmark or helpicon */
.cmp-adaptiveform__questionmark {
    margin: unset;
    padding: unset;
    display: inline;
    width: 14px;
    height: 14px;
    border-radius: 9px;
    background: var(--adaptiveform-questionmark-background);
    cursor: pointer;
    position: absolute;
    box-sizing: content-box;
    align-self: flex-end;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.cmp-adaptiveform__questionmark:focus,
.cmp-adaptiveform__questionmark:hover {
    background-color: unset;
}

/* tooltip */
.cmp-adaptiveform__tooltip {
    line-height: 1.5;
    font-weight: 400;
    color: var(--adaptiveform-tooltip-color);
    background-color: var(--adaptiveform-tooltip-backgroundColor);
    border-radius: 5px;
    max-width: 200px;
    padding: 4px 8px;
    text-align: unset;
    font-size: .875rem;
    word-wrap: break-word;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    letter-spacing: normal;
    box-sizing: border-box;
    text-align: center;
    z-index: 100;
    position: absolute;
}
  
.cmp-adaptiveform__tooltip-top::after {
    top: 100%;
    left: calc(50% - var(--adaptiveform-tooltip-borderWidth));
    content: "";
    position: absolute;
    border-width: var(--adaptiveform-tooltip-borderWidth);
    border-style: solid;
    border-color: var(--adaptiveform-tooltip-backgroundColor) transparent transparent transparent;
}
  
.cmp-adaptiveform__tooltip-left::after {
    top: calc(50% - var(--adaptiveform-tooltip-borderWidth));
    left: 100%;
    content: "";
    position: absolute;
    border-width: var(--adaptiveform-tooltip-borderWidth);
    border-style: solid;
    transform: rotate(-90deg);
    border-color: var(--adaptiveform-tooltip-backgroundColor) transparent transparent transparent;
}
  
.cmp-adaptiveform__tooltip-right::before {
    top: calc(50% - var(--adaptiveform-tooltip-borderWidth));
    left: calc(0% - 2*var(--adaptiveform-tooltip-borderWidth));
    content: "";
    position: absolute;
    border-width: var(--adaptiveform-tooltip-borderWidth);
    transform: rotate(90deg);
    border-style: solid;
    border-color: var(--adaptiveform-tooltip-backgroundColor) transparent transparent transparent;
}
  
.cmp-adaptiveform__tooltip-bottom::before {
    top: calc(0% - 2*var(--adaptiveform-tooltip-borderWidth));
    left: calc(50% - var(--adaptiveform-tooltip-borderWidth));
    content: "";
    position: absolute;
    border-width: var(--adaptiveform-tooltip-borderWidth);
    border-style: solid;
    border-color: var(--adaptiveform-tooltip-backgroundColor) transparent transparent transparent;
    transform: rotate(180deg);
}

/* muted textinput */
.muted .cmp-adaptiveform-textinput__widget {
    border: none;
    background: none;
    height: unset;
    padding: unset;
    margin-bottom: 22px;
}

/* muted numberinput */
.muted .cmp-adaptiveform-numberinput__widget {
    border: none;
    background: none;
    height: unset;
    padding: unset;
    margin-bottom: 22px;
}

/* bold textinput */
.bold .cmp-adaptiveform-textinput__widget {
    font-family: var(--adaptiveform-widget-fontFamily-bold);
    color: var(--adaptiveform-widget-color-bold);
    font-size: 30px;
    letter-spacing: 0;
    line-height: 38px;
}

/* bold numberinput */
.bold .cmp-adaptiveform-numberinput__widget {
    font-family: var(--adaptiveform-widget-fontFamily-bold);
    color: var(--adaptiveform-widget-color-bold);
    font-size: 30px;
    letter-spacing: 0;
    line-height: 38px;
}

/* bold text */
.bold .cmp-adaptiveform-text__widget {
    font-family: var(--adaptiveform-widget-fontFamily-bold);
    color: var(--adaptiveform-widget-color-bold);
    font-size: 30px;
    letter-spacing: 0;
    line-height: 38px;
}

/* green textinput */
.green .cmp-adaptiveform-textinput__widget {
    color: var(--adaptiveform-widget-color-green);
}

/* green numberinput */
.green .cmp-adaptiveform-numberinput__widget {
    color: var(--adaptiveform-widget-color-green);
}

/* green text */
.green .cmp-adaptiveform-text__widget {
    color: var(--adaptiveform-widget-color-green);
}

/* button black */
.cmp-adaptiveform-button.black {
    background-color: var(--button-widget-backgroundColor-black);
}

/* button link */
.cmp-adaptiveform-button.link {
    cursor: pointer;
    background-color: transparent;
    color: var(--button-widget-color-link);
}

.loanAmount {
    grid-area: loanAmount;
}

.term {
    grid-area: term;
}

.insuranceOption {
    grid-area: insuranceOption;
}

.summaryPanel {
    grid-area: summaryPanel;
}

.infoPanel {
    grid-area: infoPanel;
}

.emi {
    grid-area: emi;
}

.total {
    grid-area: total;
}

.rateDisplay {
    grid-area: rateDisplay;
}

.exploreRate {
    grid-area: exploreRate;
}

.rate {
    grid-area: rate;
}

.seeLoanDetails {
    grid-area: seeLoanDetails;
}

.startLoanApplication {
    grid-area: startLoanApplication;
}

/* personal calculator heading */
.section.personal-calculator-heading {
    margin: 0 18px;
    padding: 0;
}

.personal-calculator-heading h2 {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0;
    margin: 32px 0;
    font-family: var(--personal-calculator-heading-h2-fontFamily);
    color: var(--personal-calculator-heading-h2-color);
}

.personal-calculator-heading h3 {
    padding-bottom: 20px;
    margin: 0 20px;
    font-size: 20px;
    line-height: 28px;
    font-family: var(--personal-calculator-heading-h3-fontFamily);
    color: var(--personal-calculator-heading-h3-color);
    width: fit-content;
    border-bottom: 4px solid var(--personal-calculator-heading-selected-borderColor);;
}

/* repayments calculator section */
.section.repayments-calculator-section {
    margin: 0 18px;
    padding: 32px 0;
    margin-bottom: 32px;
}

.section.repayments-calculator-section > div {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.repayments-calculator-section > .default-content-wrapper > p {
    flex-basis: 100% !important;
    padding-bottom: 24px;
    font-size: 16px;
    font-family: "Open Sans Regular";
    line-height: 24px;
    color: #494f50;
    max-width: 100%;
    margin: 0;
}

/* personal calculator block */
.repayments-calculator-block .cmp-adaptiveform-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "loanAmount"
    "term"
    "insuranceOption"
    "summaryPanel";
}

.repayments-calculator-block .cmp-adaptiveform-container > div:not(:nth-child(4)) {
    margin-bottom: 42px;
}

.repayments-calculator-block .cmp-adaptiveform-container > div:nth-child(3) {
    margin-bottom: 16px;
}

/* @todo use $ to match label */
.repayments-calculator-block .cmp-adaptiveform-textinput__label {
    margin-bottom: 24px;
}

.repayments-calculator-block .cmp-adaptiveform-numberinput__label {
    margin-bottom: 24px;
}

.repayments-calculator-block .cmp-adaptiveform-radiobutton__label {
    margin-bottom: 24px;
}

.personal-calculator-summary {
    grid-template-areas: 
    "infoPanel"
    "seeLoanDetails"
    "startLoanApplication";
}

.personal-calculator-info {
    background-color: var(--personal-calculator-info-backgroundColor);
    padding: 30px 10px;
    border-radius: 5px;
    margin-bottom: 32px;
    box-shadow: 0 25px 20px -15px rgb(0 0 0 / 10%);
    grid-template-columns: 1fr 40%;
    grid-template-areas: 
    "emi emi"
    "total total"
    "rateDisplay exploreRate"
    "rate rate ";
}

.personal-calculator-info > div:not(:last-child) {
    margin-bottom: 16px;
}

.personal-calculator-info .cmp-adaptiveform-textinput__label {
    margin-bottom: 16px;
}

.personal-calculator-info > .rateDisplay .cmp-adaptiveform-textinput__widget {
    margin-bottom: 0;
}

.personal-calculator-info .cmp-adaptiveform-checkbox {
    cursor: pointer;
}

.personal-calculator-info .cmp-adaptiveform-checkbox__widget::before {
    content: 'Explore rate';
    font-size: 16px;
    cursor: pointer;
    color: var(--personal-calculator-exploreRate-color);
    font-family: var(--adaptiveform-widget-fontFamily);
}

.personal-calculator-info .cmp-adaptiveform-checkbox__widget::after {
    content: var(--personal-calculator-exploreRate-unchecked-icon);
    font-size: 16px;
    cursor: pointer;
    color: var(--personal-calculator-exploreRate-color);
    font-family: var(--adaptiveform-widget-fontFamily);
    float: right;
    margin-left: 15px;
}

.personal-calculator-info .cmp-adaptiveform-checkbox__widget:checked:after {
    content: var(--personal-calculator-exploreRate-checked-icon);
}

.personal-calculator-info .cmp-adaptiveform-checkbox__widget {
    appearance: none;
    margin: unset;
}

.personal-calculator-info .cmp-adaptiveform-checkbox span {
    display: none;
}

.personal-calculator-info .cmp-adaptiveform-range > div {   
    margin-top: 16px;
    margin-bottom: 16px;
}

.personal-calculator-info .cmp-adaptiveform-range .cmp-adaptiveform-textinput__longdescription {
    margin-top: 42px;
    font-family: var(--personal-calculator-rate-longdescription-fontFamily);
    font-size: 14px;
    line-height: 20px;
    color: var(--personal-calculator-rate-longdescription-color)
}

.personal-calculator-info div.exploreRate {
    display: flex;
}

.personal-calculator-info .exploreRate {
    align-self: flex-end;
}

.personal-calculator-summary .cmp-adaptiveform-button {
    max-width: 390px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.personal-calculator-summary .cmp-adaptiveform-button.link::after {
    content: var(--personal-calculator-seeLoanDetails-icon);
    transition: transform 900ms;
    display: inline-block;
    margin-left: 8px;
}

.personal-calculator-summary .cmp-adaptiveform-button.link:hover::after {
    transform: translate(6px,-5px);
}

@media (min-width: 576px) {
    .section.personal-calculator-heading,
    .section.repayments-calculator-section {
        margin: 0 22px;
    }

    .section.repayments-calculator-section > div {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .adaptiveform-container.outlined {
        border: 1px solid #d5e4e1;
        border-radius: 20px;
    }

    .muted .cmp-adaptiveform-textinput__widget {
        margin-bottom: 16px;
    }

    .muted .cmp-adaptiveform-numberinput__widget {
        margin-bottom: 16px;
    }

    .bold .cmp-adaptiveform-textinput__widget {
        font-size: 40px;
        line-height: 48px;
    }

    .bold .cmp-adaptiveform-numberinput__widget {
        font-size: 40px;
        line-height: 48px;
    }

    .bold .cmp-adaptiveform-text__widget {
        font-size: 40px;
        line-height: 48px;
    }

    .personal-calculator-heading h2 {
        margin: 64px 0;
        font-size: 32px;
        line-height: 40px;
    }

    .personal-calculator-heading h3  {
        font-size: 20px;
        margin: 0 25px;
    }

    .section.personal-calculator-heading,
    .section.repayments-calculator-section {
        margin: 0 106px;
    }

    .section.repayments-calculator-section > div {
        max-width: 720px;
    }

    .repayments-calculator-block .cmp-adaptiveform-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        grid-template-areas: 
        "loanAmount summaryPanel"
        "term summaryPanel"
        "insuranceOption summaryPanel"
        ". summaryPanel";
    }

    .repayments-calculator-block .cmp-adaptiveform-container > div:nth-child(3) {
        margin-bottom: 0px;
    }

    .personal-calculator-info {
        padding: 32px 24px;
        border-radius: 10px;
        margin-bottom: 31px;
    }

    .personal-calculator-info .cmp-adaptiveform-textinput__label {
        margin-bottom: 8px;
    }
}

@media (min-width: 992px) {
    .cmp-adaptiveform-radiobutton__option {
        margin-bottom: 14px;
    }

    .personal-calculator-heading h2 {
        font-size: 40px;
        line-height: 48px;
        margin: 80px 0;
    }

    .personal-calculator-heading h3  {
        font-size: 24px;
        line-height: 32px;
        margin: 0 40px;
    }

    .section.repayments-calculator-section {
        padding: 48px 0;
        margin-bottom: 48px;
    }

    .section.repayments-calculator-section > div {
        max-width: 960px;
        padding: 0 61px;
    }

    .section.repayments-calculator-section > div:first-child {
        padding-top: 5px;
    }

    .repayments-calculator-section > .default-content-wrapper > p {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 58px;
        margin: 0;
    }

    .section.repayments-calculator-section > div:last-child {
        padding-bottom: 5px;
    }

    .repayments-calculator-block .cmp-adaptiveform-container {
        column-gap: 134px;
    }

    .personal-calculator-summary {
        margin-top: -12px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "infoPanel infoPanel"
        "seeLoanDetails startLoanApplication"
    }

    .personal-calculator-info {
        padding: 32px 42px 0px 42px;
        margin-bottom: 42px;
    }

    .personal-calculator-info .cmp-adaptiveform-textinput__label {
        margin-bottom: 14px;
    }
}

@media (min-width: 1200px) {
    .section.repayments-calculator-section > div {
        max-width: 1140px;
    }
}

@media (min-width: 1441px) {
    .section.personal-calculator-heading,
    .section.repayments-calculator-section {
        max-width: 1228px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}