.adaptiveform-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.adaptiveform-container * {
    box-sizing: border-box;
}

.adaptiveform-container h1, 
.adaptiveform-container h2,
.adaptiveform-container h3, 
.adaptiveform-container h4, 
.adaptiveform-container h5, 
.adaptiveform-container h6, 
.adaptiveform-container p,
.adaptiveform-header h2,
.adaptiveform-header h3 {
    margin: unset;
    padding: unset;
}

.block.adaptiveform {
    color: #666;
    font-size: 1rem;
}

.block.adaptiveform .vertical {
    display: flex;
    flex-direction: column !important;
}

.block.adaptiveform .horizontal {
    display: flex;
    flex-direction: row !important;
}

.block.adaptiveform .wrapped {
    flex-wrap: wrap !important;
}

.block.adaptiveform .two-columns {
    display: flex;
    flex-direction: row;
}

.block.adaptiveform .two-columns > div:has(> .two-columns__column-1),
.block.adaptiveform .two-columns > div.two-columns__column-1 {
    flex-basis: 50%;
    max-width: 50%;
    order: 1;
}

.block.adaptiveform .two-columns > div:has(> .two-columns__column-2),
.block.adaptiveform .two-columns > div.two-columns__column-2 {
    flex-basis: 50%;
    max-width: 50%;
    order: 2;
}

.block.adaptiveform .two-columns.wrapped > div:has(> .two-columns__column-1),
.block.adaptiveform .two-columns.wrapped > div.two-columns__column-1,
.block.adaptiveform .two-columns.wrapped > div:has(> .two-columns__column-2),
.block.adaptiveform .two-columns.wrapped > div.two-columns__column-2 {
    flex-basis: 100%;
    max-width: 100%;
}

.block.adaptiveform .two-rows {
    display: flex;
    flex-direction: column;
}

.block.adaptiveform .two-rows > div:has(> .two-rows__row-1),
.block.adaptiveform .two-rows > div.two-rows__row-1 {
    flex-basis: 100%;
    max-width: 100%;
    order: 1;
}

.block.adaptiveform .two-rows > div:has(> .two-rows__row-2),
.block.adaptiveform .two-rows > div.two-rows__row-2 {
    flex-basis: 100%;
    max-width: 100%;
    order: 2;
}

.block.adaptiveform.grid .cmp-adaptiveform-container, 
.block.adaptiveform .grid {
    display: grid;
}

div:has(> .field1) {
    grid-area: field1;
}

div:has(> .field2) {
    grid-area: field2;
}

div:has(> .field3) {
    grid-area: field3;
}

div:has(> .field4) {
    grid-area: field4;
}

div:has(> .field5) {
    grid-area: field5;
}

div:has(> .field6) {
    grid-area: field6;
}

div:has(> .field7) {
    grid-area: field7;
}

.cmp-adaptiveform-container div:has(> div > input[type='hidden']),
.cmp-adaptiveform-container div:has(> input[type='hidden']),
.cmp-adaptiveform-container div:has(> [data-cmp-visible="false"]),
.cmp-adaptiveform-container [data-cmp-visible="false"] {
    display: none !important;
}

.cmp-adaptiveform-textinput,
.cmp-adaptiveform-numberinput,
.cmp-adaptiveform-radiobutton {
    color: #666;
    font-size: 1rem;
}

.cmp-adaptiveform-panel,
.cmp-adaptiveform-textinput,
.cmp-adaptiveform-numberinput,
.cmp-adaptiveform-radiobutton {
    display: flex;
    flex-direction: column;
}

.cmp-adaptiveform-textinput__label,
.cmp-adaptiveform-numberinput__label,
.cmp-adaptiveform-radiobutton__label {
    line-height: 24px;
    font-family: "Nedbank Sans Medium";
    color: #17252e;
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 16px;
}

.cmp-adaptiveform-numberinput__widget,
.cmp-adaptiveform-textinput__widget {
    border-radius: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Open Sans Semibold";
    color: #17252e;
    border: 2px solid rgb(120, 190, 32);
    background-color: transparent;
    height: 56px;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    display: block;
    width: 100%;
    max-width: 600px;
}

.cmp-adaptiveform-numberinput__widget::-webkit-inner-spin-button, 
.cmp-adaptiveform-numberinput__widget::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.cmp-adaptiveform-numberinput__widget:focus,
.cmp-adaptiveform-textinput__widget:focus,
.cmp-adaptiveform-numberinput__widget:active,
.cmp-adaptiveform-textinput__widget:active {
    outline: none !important;
    border:2px solid rgb(0, 99, 65);
    box-shadow:none;
}

.cmp-adaptiveform-numberinput__longdescription,
.cmp-adaptiveform-textinput__longdescription {
    font-family: "Open Sans Regular";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 8px;
    color: #565c5d !important;
}

.cmp-adaptiveform-textinput__shortdescription,
.cmp-adaptiveform-numberinput__shortdescription {
    margin-top: 10px;
    font-size: .875rem
}

.cmp-adaptiveform-textinput__errormessage,
.cmp-adaptiveform-numberinput__errormessage {
    color: #eb3c36;
    margin-top: 10px;
    font-size: .875rem
}

.cmp-adaptiveform-radiobutton__option {
    margin-bottom: 16px;
}

.cmp-adaptiveform-radiobutton__option__label {
    font-size: 16px;
    font-family: "Open Sans Regular";
    line-height: 26px;
    color: #494f50;
    display: flex;
    flex-direction: row;
}

.cmp-adaptiveform-radiobutton__option__widget,
input.cmp-adaptiveform-radiobutton__option__widget {
    border: 2px solid #78be20;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin: unset;
    transform: unset;
    appearance: none;
    flex-shrink: 0;
}

.cmp-adaptiveform-radiobutton__option__widget::after {
    content: "";
    border-radius: 50%;
    display: block;
    position: relative;
}

.cmp-adaptiveform-radiobutton__option__widget:checked::after {
    background-color: #78be20;
    left: 3px;
    top: 3px;
    width: 14px;
    height: 14px;
}

.cmp-adaptiveform-radiobutton__option__label > span {
    padding: 0 0 0 20px;
}

.cmp-adaptiveform-panel__label,
.personal-calculator > .default-content-wrapper > p {
    flex-basis: 100% !important;
    padding-bottom: 24px;
    font-size: 16px;
    font-family: "Open Sans Regular";
    line-height: 24px;
    color: #494f50;
    max-width: 100%;
    margin: 0;
}

.cmp-adaptiveform-panel__label[tabindex="-1"] {
    display: none;
}

.cmp-adaptiveform__questionmark {
    margin: unset;
    padding: unset;
    display: inline;
    width: 14px;
    height: 14px;
    border-radius: 9px;
    background: url('/icons/tooltip.svg');
    cursor: pointer;
    position: absolute;
    box-sizing: content-box;
    align-self: flex-end;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.cmp-adaptiveform__questionmark:focus,
.cmp-adaptiveform__questionmark:hover {
    background-color: unset;
}

.cmp-adaptiveform__questionmark-tooltip {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    background-color: #17252e;
    border-radius: 5px;
    max-width: 200px;
    padding: 4px 8px;
    text-align: unset;
    font-size: .875rem;
    word-wrap: break-word;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    letter-spacing: normal;
    box-sizing: border-box;
    text-align: center;
    z-index: 100;
}

.cmp-adaptiveform__questionmark-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% + 9px);
    margin-left: -10px;
    border-width: 7px;
    border-style: solid;
    border-color: #17252e transparent transparent transparent;
}

.cmp-adaptiveform-numberinput__widget-format {
    position: absolute;
    margin-top: 28px;
    margin-left: 12px;
    line-height: 0;
    font-size: 16px;
    font-family: "Open Sans Semibold";
    color: #17252e;
}

.cmp-adaptiveform-numberinput__widget-wrapper > .cmp-adaptiveform-numberinput__widget {
    padding-left: 20px;
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-wrapper {
    padding: 10px 0;
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-value {
    position: relative;
    color: #000;
    padding: 4px 12px 4px 0;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 28px;
    font-family: "Nedbank Sans Medium";
    color: #17252e;
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-min,
.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-max {
    top: 10px;
    position: relative;
    color: #565c5d;
    font-size: 14px;
    line-height: 22px;
    font-family: "Open Sans Regular";
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget-max {
    float: right;
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget {
    appearance: none;
    height: 5px;
    border-radius: 5px;
    border: none;
    outline: 0;
    padding: 0;
}

.cmp-adaptiveform-range .cmp-adaptiveform-textinput__widget::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #78be20;
    cursor: pointer;
    outline: 3px solid #fff
}

.cmp-adaptiveform-button  {
    font-family: "Open Sans Semibold";
    white-space: unset;
    padding: 0px;
    border-radius: 6px;
    text-align: center;
    margin: 0px;
    height: 56px;
    color: #fff;
    font-family: "Open Sans Semibold";
    overflow-wrap: break-word;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}

.cmp-adaptiveform-button > span {
    display: inline;
}

.muted .cmp-adaptiveform-textinput__widget {
    border: none;
    background: none;
    height: unset;
    padding: unset;
    margin-bottom: 22px;
}

.bold .cmp-adaptiveform-text__widget,
.bold .cmp-adaptiveform-textinput__widget {
    font-family: "Nedbank Sans Bold";
    color: #000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 38px;
}

.green .cmp-adaptiveform-text__widget,
.green .cmp-adaptiveform-textinput__widget {
    color: #5fa317;
}

.cmp-adaptiveform-button.black {
    background-color: #17252e;
}

.cmp-adaptiveform-button.link {
    cursor: pointer;
    background-color: transparent;
    color: var(--link-color);
}

/* personal calculator customization*/
.personal-calculator-heading h2 {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0;
    margin: 32px 0;
    font-family: "Nedbank Sans Bold";
    color: #17252e;
}

.personal-calculator-heading h3 {
    padding-bottom: 20px;
    margin: 0 20px;
    font-size: 20px;
    line-height: 28px;
    font-family: "Nedbank Sans Medium";
    width: fit-content;
    color: #17252e;
    border-bottom: 4px solid #008533;
}

.personal-calculator-heading.section {
    margin: 0 18px;
    padding: 0;
}

.personal-calculator.adaptiveform-container {
    margin: 0 18px;
    padding: 32px 0;
    margin-bottom: 32px;
}

.personal-calculator.adaptiveform-container > div {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.cmp-adaptiveform-personal-calculator .cmp-adaptiveform-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "field1"
    "field2"
    "field3"
    "field4";
}

.cmp-adaptiveform-personal-calculator .cmp-adaptiveform-container > div:not(:nth-child(4)) {
    margin-bottom: 42px;
}

.cmp-adaptiveform-personal-calculator .cmp-adaptiveform-container > div:nth-child(3) {
    margin-bottom: 16px;
}

/* @todo use $ to match label */
.cmp-adaptiveform-personal-calculator .cmp-adaptiveform-numberinput__label,
.cmp-adaptiveform-personal-calculator .cmp-adaptiveform-textinput__label,
.cmp-adaptiveform-personal-calculator .cmp-adaptiveform-radiobutton__label {
    margin-bottom: 24px;
}

.personal-calculator-summary {
    grid-template-areas: 
    "field1"
    "field2"
    "field3";
}

.personal-calculator-info {
    background-color: #f9fbfb;
    padding: 30px 10px;
    border-radius: 5px;
    margin-bottom: 32px;
    box-shadow: 0 25px 20px -15px rgb(0 0 0 / 10%);
    grid-template-columns: 1fr 40%;
    grid-template-areas: 
    "field1 field1"
    "field2 field2"
    "field3 field4"
    "field5 field5 ";
}

.personal-calculator-info > div {
    margin-bottom: 16px;
}

.personal-calculator-info .cmp-adaptiveform-textinput__label {
    margin-bottom: 16px;
}

.personal-calculator-info > .cmp-adaptiveform-textinput.field3 .cmp-adaptiveform-textinput__widget {
    margin-bottom: 0;
}

.personal-calculator-info .cmp-adaptiveform-checkbox {
    cursor: pointer;
}

.personal-calculator-info .cmp-adaptiveform-checkbox__widget::before {
    content: 'Explore rate';
    font-size: 1rem;
    cursor: pointer;
    color: #008533;
    font-family: "Open Sans Semibold";
}

.personal-calculator-info .cmp-adaptiveform-checkbox__widget::after {
    content: url('/icons/up-arrow.svg');
    font-size: 1rem;
    cursor: pointer;
    color: #008533;
    font-family: "Open Sans Semibold";
    float: right;
    margin-left: 15px;
}

.personal-calculator-info .cmp-adaptiveform-checkbox__widget:checked:after {
    content: url('/icons/down-arrow.svg');
}

.personal-calculator-info .cmp-adaptiveform-checkbox__widget {
    appearance: none;
    margin: unset;
}

.personal-calculator-info .cmp-adaptiveform-checkbox span {
    display: none;
}

.personal-calculator-info .cmp-adaptiveform-range {   
    margin-top: 16px;
}

.personal-calculator-info .cmp-adaptiveform-range .cmp-adaptiveform-textinput__longdescription {
    margin-top: 42px;
    font-family: "Open Sans Regular";
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.personal-calculator-info div:has(> .exploreRate) {
    display: flex;
}

.personal-calculator-info .exploreRate {
    align-self: flex-end;
    margin-bottom: 22px;
}

.personal-calculator-summary .cmp-adaptiveform-button {
    max-width: 390px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.personal-calculator-summary .cmp-adaptiveform-button.link::after {
    content: url('/icons/diagonal-arrow.svg');
    transition: transform 900ms;
    display: inline-block;
    margin-left: 8px;
}

.personal-calculator-summary .cmp-adaptiveform-button.link:hover::after {
    transform: translate(6px,-5px);
}

@media (min-width: 576px) {
    .personal-calculator-heading.section,
    .personal-calculator.adaptiveform-container {
        margin: 0 22px;
    }

    .personal-calculator.adaptiveform-container > div {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .adaptiveform-container.outlined,
    .adaptiveform-container .outlined {
        border: 1px solid #d5e4e1;
        border-radius: 20px;
    }

    .cmp-adaptiveform-container .two-columns.wrapped > div.two-columns__column-1,
    .cmp-adaptiveform-container .two-columns.wrapped > div.two-columns__column-2,
    .cmp-adaptiveform-container .two-columns.wrapped > div:has(> .two-columns__column-1),
    .cmp-adaptiveform-container .two-columns.wrapped > div:has(> .two-columns__column-2) {
        flex-basis: 50%;
        max-width: 50%;
    }

    .muted .cmp-adaptiveform-textinput__widget {
        margin-bottom: 16px;
    }

    .bold .cmp-adaptiveform-text__widget,
    .bold .cmp-adaptiveform-textinput__widget {
        font-size: 40px;
        line-height: 48px;
    }

    .personal-calculator-heading h2 {
        margin: 64px 0;
        font-size: 32px;
        line-height: 40px;
    }

    .personal-calculator-heading h3  {
        font-size: 20px;
        margin: 0 25px;
    }

    .personal-calculator-heading.section,
    .personal-calculator.adaptiveform-container {
        margin: 0 106px;
    }

    .personal-calculator.adaptiveform-container > div {
        max-width: 720px;
    }

    .cmp-adaptiveform-personal-calculator .cmp-adaptiveform-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        grid-template-areas: 
        "field1 field4"
        "field2 field4"
        "field3 field4"
        ". field4";
    }

    .cmp-adaptiveform-personal-calculator .cmp-adaptiveform-container > div:nth-child(3) {
        margin-bottom: 0px;
    }

    .personal-calculator-info {
        padding: 32px 24px;
        border-radius: 10px;
        margin-bottom: 31px;
    }

    .personal-calculator-info .cmp-adaptiveform-textinput__label {
        margin-bottom: 8px;
    }

    .personal-calculator-info .exploreRate {
        align-self: flex-end;
        margin-bottom: 16px;
    }
}

@media (min-width: 992px) {
    .cmp-adaptiveform-radiobutton__option {
        margin-bottom: 14px;
    }

    .personal-calculator-heading h2 {
        font-size: 40px;
        line-height: 48px;
        margin: 80px 0;
    }

    .personal-calculator-heading h3  {
        font-size: 24px;
        line-height: 32px;
        margin: 0 40px;
    }

    .personal-calculator.adaptiveform-container {
        padding: 48px 0;
        margin-bottom: 48px;
    }

    .cmp-adaptiveform-panel__label,
    .personal-calculator > .default-content-wrapper > p {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 58px;
        margin: 0;
    }

    .personal-calculator.adaptiveform-container > div {
        max-width: 960px;
        padding: 0 61px;
    }

    .personal-calculator.adaptiveform-container > div:first-child {
        padding-top: 5px;
    }

    .personal-calculator.adaptiveform-container > div:last-child {
        padding-bottom: 5px;
    }

    .cmp-adaptiveform-personal-calculator .cmp-adaptiveform-container {
        column-gap: 134px;
    }

    .personal-calculator-summary {
        margin-top: -12px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "field1 field1"
        "field2 field3"
    }

    .personal-calculator-info {
        padding: 32px 42px 0px 42px;
        margin-bottom: 42px;
    }

    .personal-calculator-info .cmp-adaptiveform-textinput__label {
        margin-bottom: 14px;
    }
}

@media (min-width: 1200px) {
    .personal-calculator.adaptiveform-container > div {
        max-width: 1140px;
    }
}

@media (min-width: 1441px) {
    .personal-calculator-heading.section,
    .personal-calculator.adaptiveform-container {
        max-width: 1228px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}