footer {
  font-size: var(--body-font-size-s);
}

footer .section {
  padding: 64px 30px;
}

footer .footer-links {
  background-color: #f8fbfa;
  padding-left: 0;
  padding-right: 0;
}

footer .footer-social-items {
  display: flex;
  justify-content: left;
}

footer .footer-link-groups {
  display: flex;
  justify-content: space-between;
}

footer .footer-link-group {
  padding: 0 30px;
  border-bottom: 0.5px solid grey;
}

.footer-link-group a::after {
  content: "\2303";
}

.footer-link-group a.inactive::after {
  content: '\2304';
  color: green;
  float: right;
  margin-left: 5px;
}

footer .footer-link-group h3 {
  color: #17252e;
  font-family: "Nedbank Sans Medium";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  margin: 20px 0;
}

footer .footer-link-group>ul {
  list-style: none;
  padding-inline-start: unset;
}

footer a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}

footer .footer-link-group>ul>li>a {
  color: #494f50;
  font-family: "Open Sans Regular";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}

footer .footer-link-group>ul>li>a::after {
  display: none;
}

footer .default-content-wrapper {
  max-width: unset;
  margin-left: 0;
}

footer .default-content-wrapper p, h2 {
  margin-left: 0;
}

footer .list {
  text-align: center;
  background-color: lightblue;
  padding-left: 0;
}

footer .deselect {
  display: none;
}

footer .selected {
  display: block;
}

@media (max-width:900px) {
  footer .footer-link-groups {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  footer .footer-social>.default-content-wrapper {
    max-width: 1500px;
  }
}

@media (min-width:900px) {
  footer .footer-link-group {
    border-bottom: none;
  }

  footer .deselect {
    display: block;
  }

  .footer-link-group a::after {
    display: none;
  }
  
  .footer-link-group a.active::after {
    display: none;
  }
}