footer {
  padding: 2rem;
  padding-left: 100px;
  font-size: var(--body-font-size-s);
  background: linear-gradient(white 15.5%, #e5edec 15.5%,#e5edec 15.7%,white 15.7%,white 30%, #f9fbfb 30%, #f9fbfb 75%, white 75%);
}

footer .footer {
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer.block{
  margin: 0;
}

.footer a[href ^= "http"] .icon{
  opacity: 50%;
}

.footer a[href ^= "http"]:hover .icon{
  opacity: 100%;
}

.footer .icon.icon-twitter svg{
  
  float: right;
  margin-left: 14px ;
  margin-right: 90px;
}

.footer .icon.icon-linkedin svg{
  margin-left: 10px
}

.footer .icon.icon-instagram svg{
  
  margin-left: 12px
}

.footer .icon.icon-youtube svg{
  margin-left: 15px
}

.footer .icon.icon-facebook svg{
  margin-left: 345px;
}

.footer .icon.icon-nedbank-footer svg{
  width: 100px;
  height: auto;
}

.footer .icon.icon-back-to-top svg{
  margin-left: 1400px;
  float: right;
  margin-right: 90px;
  padding-bottom: 80px;
}

footer p{
  text-align: left;
  font-family: var(--body-font-family);
  font-size: 16px;
}

footer p strong{
  font-weight: bolder;
  margin-right: 30px;
}

footer a:any-link{
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: normal;
  color: var(--link-footer-color);
}

.footer.block div:nth-child(2){
  padding-bottom: 100px;
}

.footer.block div:nth-child(3){
  column-count: 4;
}

.footer.block h3{
  break-before:  column;
  font-size: var(--body-font-size-s);
  padding-bottom: 40px;
}

.footer.block div:nth-child(4){
  padding-top: 100px;
}

.footer.block div:nth-child(5) p{
  color: #565c5d;
  float: left;
}

.footer.block div:nth-child(5) div:nth-child(1){
  margin-left: 100px;
}

.footer.block div:nth-child(5){
  padding-bottom: 50px;
}